@charset "UTF-8";
.text-preset-1, .heading .heading__title {
  font-family: var(--font-family-base);
  font-size: var(--p1-size);
  font-weight: var(--p1-weight);
  line-height: var(--p1-lh);
  letter-spacing: var(--p1-ls);
}

.text-preset-2, .feature__description .feature__title, .footer .footer__title {
  font-family: var(--font-family-base);
  font-size: var(--p2-size);
  font-weight: var(--p2-weight);
  line-height: var(--p2-lh);
  letter-spacing: var(--p2-ls);
}

.text-preset-3, .feature__description .feature__subtitle {
  font-family: var(--font-family-base);
  font-size: var(--p3-size);
  font-weight: var(--p3-weight);
  line-height: var(--p3-lh);
  letter-spacing: var(--p3-ls);
}

.text-preset-4, .heading .heading__description, .feature__description .feature__detail, .footer .footer__description {
  font-family: var(--font-family-base);
  font-size: var(--p4-size);
  font-weight: var(--p4-weight);
  line-height: var(--p4-lh);
  letter-spacing: var(--p4-ls);
}

.text-preset-5, .btn span, .number__divider p {
  font-family: var(--font-family-base);
  font-size: var(--p5-size);
  font-weight: var(--p5-weight);
  line-height: var(--p5-lh);
  letter-spacing: var(--p5-ls);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font Family */
  --font-family-base: 'Red Hat Display', sans-serif;
  /* Font Sizes */
  --fs-50: 0.75rem;
  --fs-100: 0.875rem;
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-400: 2rem;
  --fs-500: 2.25rem;
  --fs-600: 2.5rem;
  --fs-700: 3rem;
  --fs-800: 4rem;
  /* Line Heights & Letter Spacing */
  --lh-base: 1.1;
  --lh-lg: 1.5;
  --ls-base: 0;
  --ls-lg: 4px;
  /* Weights */
  --fw-medium: 500;
  --fw-black: 900;
}

:root {
  /* Preset 1 */
  --p1-size: var(--fs-600);
  --p1-weight: var(--fw-black);
  --p1-lh: var(--lh-base);
  --p1-ls: var(--ls-base);
  /* Preset 2: XL + Black + LH Base + LS Base */
  --p2-size: var(--fs-400);
  --p2-weight: var(--fw-black);
  --p2-lh: var(--lh-base);
  --p2-ls: var(--ls-base);
  /* Preset 3 */
  --p3-size: var(--fs-50);
  --p3-weight: var(--fw-black);
  --p3-lh: var(--lh-base);
  --p3-ls: var(--ls-lg);
  /* Preset 4 */
  --p4-size: var(--fs-200);
  --p4-weight: var(--fw-medium);
  --p4-lh: var(--lh-lg);
  --p4-ls: var(--ls-base);
  /* Preset 5 */
  --p5-size: var(--fs-200);
  --p5-weight: var(--fw-black);
  --p5-lh: var(--lh-lg);
  --p5-ls: var(--ls-base);
  /* Responsive: Chỉ ghi đè những thứ THAY ĐỔI */
}
@media (min-width: 768px) {
  :root {
    --p1-size: var(--fs-700);
  }
}
@media (min-width: 1280px) {
  :root {
    --p1-size: var(--fs-800);
  }
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #fafafa;
}

.main-layout {
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [main-start] minmax(0, 75rem) [main-end] minmax(2rem, 1fr) [full-end];
}
.main-layout > * {
  grid-column: main;
  justify-self: center;
}
.main-layout > .full-bleed {
  justify-self: center;
  grid-column: full;
}

.btn {
  border: none;
  border-radius: 100px;
  padding: 1rem 2.5rem;
}
.btn--primary {
  background-color: #4d96a9;
}
.btn--primary span {
  color: #fafafa;
}
.btn--primary span:last-child {
  color: #8fe3f9;
}

.btn--secondary {
  background-color: #855fb1;
}
.btn--secondary span {
  color: #fafafa;
}

.header__logo {
  margin-block-start: 3.5rem;
}
.header__logo .header__image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero__image {
  display: flex;
  align-items: center;
  margin-block-start: 2.5rem;
}
.hero__image--left {
  transform: translateX(-1.75rem);
  margin-right: -1.75rem;
}
.hero__image--left img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.hero__image--right {
  transform: translateX(1.75rem);
}
.hero__image--right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.heading .heading__information {
  margin-block-start: 3.5rem;
}
.heading .heading__title {
  text-align: center;
  color: #28283d;
}
.heading .heading__title--up, .heading .heading__title--down {
  display: block;
}
.heading .heading__description {
  margin-block-start: 2rem;
  text-align: center;
  color: #87879d;
}
.heading .heading__cta {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  margin-block: 1rem;
}

.number__divider {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border: 1px solid #d1d1df;
  border-radius: 50%;
  background-color: #fafafa;
}
.number__divider p {
  color: #87879d;
}
.number__divider--1 {
  margin: 7.5rem 0 4.5rem 0;
}
.number__divider--2 {
  margin-block-start: 7.5rem;
}

.line {
  position: absolute;
  background-color: #d1d1df;
  width: 1px;
  height: 5rem;
  bottom: 100%;
  left: 50%;
}

.customer__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.customer__images .image {
  border-radius: 0.5rem;
}
.customer__images .image img {
  border-radius: 0.5rem;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.feature__description {
  margin-block: 2.5rem;
}
.feature__description .feature__subtitle {
  text-transform: uppercase;
  text-align: center;
  color: #4d96a9;
}
.feature__description .feature__title {
  margin-block-start: 1rem;
  text-align: center;
  color: #28283d;
}
.feature__description .feature__detail {
  margin-block-start: 2.5rem;
  text-align: center;
  color: #87879d;
}

.footer {
  margin-top: -1.75rem;
  padding: 4rem 2rem;
  position: relative;
  color: #fafafa;
  background-image: url("assets/desktop/image-footer.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 150, 169, 0.8);
  z-index: 1;
}
.footer .footer__title {
  position: relative;
  z-index: 2;
  text-align: center;
}
.footer .footer__description {
  margin-block: 1rem;
  position: relative;
  z-index: 2;
  text-align: center;
}
.footer .footer__cta {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=styles.css.map */
