@use './sass/base/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font Family */
  --font-family-base: 'Red Hat Display', sans-serif;

  /* Font Sizes */
  --fs-50: 0.75rem;
  --fs-100: 0.875rem;
  --fs-200: 1rem;
  --fs-300: 1.125rem;
  --fs-400: 2rem;
  --fs-500: 2.25rem;
  --fs-600: 2.5rem;
  --fs-700: 3rem;
  --fs-800: 4rem;

  /* Line Heights & Letter Spacing */
  --lh-base: 1.1;
  --lh-lg: 1.5;
  --ls-base: 0;
  --ls-lg: 0.25rem;

  /* Weights */
  --fw-medium: 500;
  --fw-black: 900;
}

:root {
  /* Preset 1 */
  --p1-size: var(--fs-600);
  --p1-weight: var(--fw-black);
  --p1-lh: var(--lh-base);
  --p1-ls: var(--ls-base);

  /* Preset 2: XL + Black + LH Base + LS Base */
  --p2-size: var(--fs-400);
  --p2-weight: var(--fw-black);
  --p2-lh: var(--lh-base);
  --p2-ls: var(--ls-base);

  /* Preset 3 */
  --p3-size: var(--fs-50);
  --p3-weight: var(--fw-black);
  --p3-lh: var(--lh-base);
  --p3-ls: var(--ls-lg);

  /* Preset 4 */
  --p4-size: var(--fs-200);
  --p4-weight: var(--fw-medium);
  --p4-lh: var(--lh-lg);
  --p4-ls: var(--ls-base);

  /* Preset 5 */
  --p5-size: var(--fs-200);
  --p5-weight: var(--fw-black);
  --p5-lh: var(--lh-lg);
  --p5-ls: var(--ls-base);

  @media (min-width: $breakpoints-tablet) {
    // Tablet preset 1
    --p1-size: var(--fs-600);
  }

  @media (min-width: $breakpoints-desktop) {
    // Desktop
    --p1-size: var(--fs-800);
  }
}

body {
  font-family: $font-family-base;
  background-color: $clr-white;
}

.main-layout {
  display: grid;
  grid-template-columns:
    [full-start] minmax(map-get($spaces, spacing-400), 1fr)
    [main-start] minmax(0, 75rem) [main-end]
    minmax(map-get($spaces, spacing-400), 1fr) [full-end];

  & > * {
    grid-column: main-start / main-end;
    justify-self: center;
  }

  & > .full-bleed {
    justify-self: stretch;
    grid-column: full-start / full-end;
    overflow-x: hidden;
  }
}

.btn {
  border: none;
  border-radius: 100px;
  padding: map-get($spaces, spacing-200)
    map-get($spaces, spacing-500);

  span {
    @extend %text-preset-5;
  }
}

.btn--primary {
  background-color: $clr-cyan-600;

  span {
    color: $clr-white;
  }

  span:last-child {
    color: $clr-cyan-300;
  }
}

.btn--secondary {
  background-color: $clr-purple-600;

  span {
    color: $clr-white;
  }

  span:last-child {
    color: $clr-purple-300;
  }
}

.header__logo {
  margin-block-start: map-get($spaces, spacing-700);
  .header__image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.hero__container {
  display: grid;
  grid-template-areas:
    'hero-img1 hero-img2'
    'hero-text hero-text';

  @media (min-width: $breakpoints-desktop) {
    grid-template-areas: 'hero-img1 hero-text hero-img2';
    grid-template-columns: repeat(3, 1fr);
    gap: map-get($spaces, spacing-400);
  }

  .hero__image {
    display: flex;
    align-items: center;
    margin-block-start: map-get($spaces, spacing-500);

    &--left {
      grid-area: hero-img1;
      flex-grow: 1;
      transform: translateX(
        - map-get($spaces, spacing-350)
      );

      margin-right: - map-get($spaces, spacing-200);

      @media (min-width: $breakpoints-tablet) {
        transform: none;
        margin: 0;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    &--right {
      grid-area: hero-img2;
      flex-grow: 1;
      transform: translateX(map-get($spaces, spacing-200));

      @media (width: $breakpoints-tablet) {
        transform: none;
      }

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  .heading {
    grid-area: hero-text;
    max-width: 20rem;
    align-self: center;
    justify-self: center;

    @media (min-width: $breakpoints-tablet) {
      max-width: 30rem;
    }

    .heading__information {
      margin-block-start: map-get($spaces, spacing-700);
    }

    .heading__title {
      text-align: center;
      @extend %text-preset-1;
      color: $clr-slate-900;

      &--up,
      &--down {
        display: block;
      }
    }

    .heading__description {
      margin-block-start: map-get($spaces, spacing-400);
      @extend %text-preset-4;
      text-align: center;
      color: $clr-slate-600;
    }

    .heading__cta {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: map-get($spaces, spacing-200);
      justify-content: center;

      margin-block: map-get($spaces, spacing-200)
        map-get($spaces, spacing-800);
    }
  }
}

.number__divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: map-get($spaces, spacing-700);

  .line {
    height: map-get($spaces, spacing-1000);
    width: 1px;
    border: 1px solid $clr-slate-300;
  }

  .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: map-get($spaces, spacing-700);
    height: map-get($spaces, spacing-700);
    border-radius: 50%;
    border: 1px solid $clr-slate-300;
    @extend %text-preset-5;
    color: $clr-slate-600;
  }

  &--2 .number {
    background-color: #fff;
    z-index: 2;
  }
}

.customer__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: map-get($spaces, spacing-200);
  margin-block: map-get($spaces, spacing-800);
  @media (min-width: $breakpoints-tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

  .image {
    border-radius: map-get($spaces, spacing-100);
    img {
      border-radius: map-get($spaces, spacing-100);
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}

.feature__description {
  max-width: 30rem;
  // margin-block: map-get($spaces, spacing-500);

  .feature__subtitle {
    @extend %text-preset-3;
    text-transform: uppercase;
    text-align: center;
    color: $clr-cyan-600;
  }

  .feature__title {
    margin-block-start: map-get($spaces, spacing-200);
    @extend %text-preset-2;
    text-align: center;
    color: $clr-slate-900;
  }

  .feature__detail {
    margin-block-start: map-get($spaces, spacing-500);
    text-align: center;
    @extend %text-preset-4;
    color: $clr-slate-600;
  }
}

.footer {
  padding: map-get($spaces, spacing-1400)
    map-get($spaces, spacing-800);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: inherit;

  margin-block-start: - map-get(
      $map: $spaces,
      $key: spacing-350
    );

  width: 100%;
  position: relative;
  color: $clr-white;
  background-image: url('assets/mobile/image-footer.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @media (min-width: $breakpoints-tablet) {
    background-image: url('assets/tablet/image-footer.jpg');
  }

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($clr-cyan-600, 0.9);
    z-index: 1;
  }

  .footer__content {
    grid-column: main-start / main-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: map-get($spaces, spacing-300);

    @media (min-width: $breakpoints-desktop) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .footer__title {
    position: relative;
    z-index: 2;

    @extend %text-preset-2;
    text-align: center;
  }

  .footer__description {
    max-width: 30rem;
    position: relative;
    z-index: 2;
    @extend %text-preset-4;
    text-align: center;
  }

  .footer__cta {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: center;
  }
}
