$clr-cyan-600: #4d96a9;
$clr-cyan-300: #8fe3f9;
$clr-purple-600: #855fb1;
$clr-purple-300: #d9b8ff;
$clr-slate-900: #28283d;
$clr-slate-600: #87879d;
$clr-slate-300: #d1d1df;
$clr-white: #fafafa;

$clr-cyan-600-rgb: 77, 150, 168;
