$font-family-base: 'Red Hat Display', sans-serif;

$sizes: (
  '50': 0.75rem,
  '100': 0.875rem,
  '200': 1rem,
  '300': 1.125rem,
  '400': 2rem,
  '500': 2.25rem,
  '600': 2.5rem,
  '700': 3rem,
  '800': 4rem,
);

$lineheights: (
  'base': 1.1,
  'lg': 1.5,
);

$letterspacings: (
  'base': 0,
  'lg': 4px,
);

$weights: (
  'medium': 500,
  'black': 900,
);

$text-presets: (
  '1': (
    'mobile': (
      size: '600',
      line-height: 'base',
      letter-spacing: 'base',
      weight: 'black',
    ),
    'tablet': (
      size: '700',
      line-height: 'base',
      letter-spacing: 'base',
      weight: 'black',
    ),
    'desktop': (
      size: '800',
      line-height: 'base',
      letter-spacing: 'base',
      weight: 'black',
    ),
  ),
  '2': (
    'mobile': (
      size: '400',
      line-height: 'base',
      letter-spacing: 'base',
      font-weight: 'black',
    ),
    'tablet': (
      size: '500',
      line-height: 'base',
      letter-spacing: 'base',
      font-weight: 'black',
    ),
    'desktop': (
      size: '600',
      line-height: 'base',
      letter-spacing: 'base',
      font-weight: 'black',
    ),
  ),
  '3': (
    'mobile': (
      size: '50',
      line-height: 'base',
      letter-spacing: 'base',
      font-weight: 'black',
    ),
    'tablet': (
      size: '100',
      line-height: 'base',
      letter-spacing: 'base',
      font-weight: 'black',
    ),
    'desktop': (
      size: '200',
      line-height: 'base',
      letter-spacing: 'base',
      font-weight: 'black',
    ),
  ),
  '4': (
    'tablet': (
      size: '200',
      line-height: 'lg',
      letter-spacing: 'base',
      font-weight: 'medium',
    ),
    'desktop': (
      size: '300',
      line-height: 'lg',
      letter-spacing: 'base',
      font-weight: 'medium',
    ),
  ),
  '5': (
    'desktop': (
      size: '200',
      line-height: 'base',
      letter-spacing: 'base',
      font-weight: 'black',
    ),
  ),
);

$breakpoints: (
  'mobile': 0px,
  'tablet': 768px,
  'desktop': 1280px,
);

@function resolve($map, $key) {
  @return if($key, map-get($map, $key), null);
}

@mixin text-preset($name) {
  $preset: map-get($text-presets, '#{$name}');

  @if not $preset {
    @warn "text-preset '#{$name}' không tồn tại.";
  }

  @each $bp-name, $min-width in $breakpoints {
    $prop: map-get($preset, $bp-name);

    @if $prop {
      @if $min-width == 0px {
        font-size: resolve($sizes, map-get($prop, size));
        font-weight: resolve(
          $weights,
          map-get($prop, weight)
        );
        line-height: resolve(
          $lineheights,
          map-get($prop, line-height)
        );
        letter-spacing: resolve(
          $letterspacings,
          map-get($prop, letter-spacing)
        );
      } @else {
        @media (min-width: $min-width) {
          font-size: resolve($sizes, map-get($prop, size));
          font-weight: resolve(
            $weights,
            map-get($prop, weight)
          );
          line-height: resolve(
            $lineheights,
            map-get($prop, line-height)
          );
          letter-spacing: resolve(
            $letterspacings,
            map-get($prop, letter-spacing)
          );
        }
      }
    }
  }
}

// @mixin text-preset-1 {
//   font-size: map-get($sizes, xxl);
//   font-weight: map-get($weights, black);
//   line-height: map-get($lineheights, base);
//   letter-spacing: map-get($letterspacings, base);
// }

// @mixin text-preset-2 {
//   font-size: map-get($sizes, xl);
//   font-weight: map-get($weights, black);
//   line-height: map-get($lineheights, base);
//   letter-spacing: map-get($letterspacings, base);
// }

// @mixin text-preset-3 {
//   font-size: map-get($sizes, base);
//   font-weight: map-get($weights, black);
//   line-height: map-get($lineheights, base);
//   letter-spacing: map-get($letterspacings, lg);
// }

// @mixin text-preset-4 {
//   font-size: map-get($sizes, lg);
//   font-weight: map-get($weights, medium);
//   line-height: map-get($lineheights, base);
//   letter-spacing: map-get($letterspacings, base);
// }

// @mixin text-preset-5 {
//   font-size: map-get($sizes, base);
//   font-weight: map-get($weights, black);
//   line-height: map-get($lineheights, lg);
//   letter-spacing: map-get($letterspacings, base);
// }
