$font-family-base: 'Red Hat Display', sans-serif;

@for $i from 1 through 5 {
  .text-preset-#{$i} {
    font-family: var(--font-family-base);
    font-size: var(--p#{$i}-size);
    font-weight: var(--p#{$i}-weight);
    line-height: var(--p#{$i}-lh);
    letter-spacing: var(--p#{$i}-ls);
  }
}
